<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="csstyle/results.css">
    <title>Price</title>
</head>
<body>
   <div class="container">
      Your package of type <%= mailType %> </br>
      Weighing in at <%= weight %> </br>
      Is going to cost you  </br></br>
      <h1>$<%= price %><h1>
      <button onclick="window.location.href= '../calculator.html';">Calculate another package</button>
   </div> 
</body>
</html>